<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About</div>
                        <p>Hi I'm <strong>Rajveer Choudhary</strong> . Currently I am working as Mean Stack Developer and have expertise with Angular2+,Nodejs,MongoDB,react,Javascript and TypeScript . Done few projects in above technology.</p>
                        <p>I’ve always sought out opportunities and challenges that are meaningful to me. I've never stopped engaging my passion to help others and solve problems.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Bi rth:</strong>
                            </div>
                            <div class="col-sm-8">March 17, 1999</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">rajveerchoudhary8440&#64;gmail.com</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Phone:</strong>
                            </div>
                            <div class="col-sm-8">+91 9829340793</div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">273A, Near Balaji College, Shreenath Nagar, Debari, Udaipur (Rajasthan)
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">Hindi, English</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>