<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

     <div class="row">


       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/tracking.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Employee Tracking System</h4>
          <h5 class="card-text"><b>Technology :</b> React, Firebase, Mapbox API, Twillio </h5>
          <a href="https://github.com/veerraj/EmployeeTrackingSystem" class="btn bg-btn-color stretched-link">GithubLink</a>

        </div>
      </div>
    </div>
       </div>



      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/covid-udaipur.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Covid Help Udaipur (PWA)</h4>
          <h5 class="card-text"><b>Technology :</b> React,Nodejs,Mongodb </h5>
            <h5 class="card-text"><a href="https://covid-help-udaipur.herokuapp.com/">View Live Demo</a></h5>
          <!-- <a href="https://github.com/veerraj/tic-tac-toe" class="btn bg-btn-color stretched-link">GithubLink</a> -->
        </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
      <div class="blog-entry">
    <div class="card" >
      <img class="card-img-top" src="assets/images/github-timeline.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Github Timeline App</h4>
        <h5 class="card-text"><b>Technology :</b> Angular 10, Firebase and Github api </h5>
        <h5 class="card-text"><a href="https://my-github-timeline.netlify.app/">View Live Demo</a></h5>
        <a href="https://github.com/veerraj/github-timeline/" target="_blank" class="btn bg-btn-color stretched-link">GithubLink</a>
      </div>
    </div>
  </div>
  </div>



    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <img class="card-img-top" src="assets/images/rajveer-portfolio.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Portfolio</h4>
          <h5 class="card-text"><b>Technology :</b> Angular 8 </h5>
          <a href="https://github.com/veerraj/rajveer-portfolio/" target="_blank" class="btn bg-btn-color stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
      <div class="blog-entry">
     <div class="card" >
      <img class="card-img-top"src="assets/images/covid.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Covid Tracking System</h4>
         <h5 class="card-text"><b>Technology :</b> React, covid API </h5>

          <h5 class="card-text"><a href="https://covid-19trackingapp.herokuapp.com/">View Live Demo</a></h5>
        <a href="https://github.com/veerraj/Covid19TrackerApp" class="btn bg-btn-color stretched-link">GithubLink</a>
      </div>
  </div>
  </div>
    </div>

  <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
    <div class="blog-entry">
  <div class="card" >
    <img class="card-img-top" src="assets/images/burger-builder.png" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Burger Builder App</h4>
      <h5 class="card-text"><b>Technology :</b> React,Firebase </h5>
        <h5 class="card-text"><a href="https://burger-builder-34662.web.app/">View Live Demo</a></h5>
      <a href="https://github.com/veerraj/burger-builder" class="btn bg-btn-color stretched-link">GithubLink</a>
    </div>
  </div>
</div>
</div>
    </div>
    </div>
  </div>