<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/12.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image">
                        <a href="#">
                            <img src="assets/images/raj.jpeg" alt="Image" />
                        </a>
                    </div>
                    <div class="h2 title">Rajveer Choudhary</div>
                    <p class="category text-white">Full STack Developer( Mean/Mern Stack )</p>
                    <a class="btn bg-btn-color smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
                    <a class="btn bg-btn-color" href="https://drive.google.com/file/d/1vKpTYAHWQ9HnGI_f9-ct403wzE0iCrMr/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon icon-fb" href="https://www.facebook.com/veer.choudhary.12720" target="_blank" rel="tooltip" title="Follow me on Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon icon-insta " href="https://instagram.com/_rajveer_mewara/" target="_blank" rel="tooltip" title="Follow me on Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon icon-link" href="https://www.linkedin.com/in/rajveer-choudhary-287706178/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon icon-git" href="https://github.com/veerraj" target="_blank" rel="tooltip" title="Follow me on Github">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>