/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

// @import '~ngx-toastr/toastr';
.bg-color {
    background-color: #00c5de !important;
}

.bg-btn-color {
    background-color: #00c5de !important;
}

.bg-btn-color:hover {
    background-color: #00c5de !important;
}

.bg-text-color {
    color: #00c5de;
}